{% extends "base.html" %}
{% from "_helpers.html" import render_field %}
{% block title %}Create AP{% endblock %}

{% block content %}
<form class="pure-form pure-form-stacked" method="POST">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend>Create a new AP</legend>

    {{ render_field(form.ssid) }}
    {{ render_field(form.security) }}
    {{ render_field(form.psk) }}
    {{ render_field(form.priority) }}

    <button type="submit" class="pure-button pure-button-primary">Add</button>
  </fieldset>
</form>

{% endblock %}
